In [2]:
import pandas as pd
import csv
from sqlalchemy import create_engine

In [3]:
server = r'CICADA3301\SQLEXPRESS'
database = r'AiJobMarket'
username = r'CICADA3301\Aswin'
password = '3301'

In [10]:
engine = create_engine(f"mssql+pyodbc://{server}/{database}?driver=ODBC+Driver+17+for+SQL+Server&trusted_connection=yes")
# engine = create_engine(f"mssql+pyodbc://{username}:{password}@{server}/{database}?driver=ODBC+Driver+17+for+SQL+Server&trusted_connection=yes")
db_data = pd.read_sql_query("SELECT * FROM gold.salary_prediction_features", engine)
print(db_data.head())

     job_id              job_title experience_level employment_type  \
0  AI023890     Research Scientist        Mid-Level       Full-Time
1  AI023891      Robotics Engineer        Mid-Level       Freelance
2  AI023892  AI Research Scientist        Mid-Level       Full-Time
3  AI023893        ML Ops Engineer     Senior-Level       Freelance
4  AI023894          AI Consultant      Entry-Level        Contract

  company_location company_size employee_residence  remote_ratio  \
0   United Kingdom        Large     United Kingdom            50
1           France       Medium            Belgium            50
2      Netherlands        Large        Netherlands             0
3      Netherlands        Small        Netherlands             0
4            Japan       Medium              Japan           100

                               required_skills required_education  \
0    Python,Computer Vision,Statistics,Tableau          Associate
1        Git,Kubernetes,Computer Vision,Python                PhD
2                       Git,PyTorch,TensorFlow                PhD
3  Computer Vision,Git,Docker,Azure,TensorFlow           Bachelor
4                           PyTorch,Docker,GCP          Associate

   experience_years        industry  benefits_score posting_date  salary_usd
0                 3  Transportation             7.7   2024-11-24      113468
1                 3      Automotive             8.6   2024-07-25       94278
2                 3   Manufacturing             5.8   2025-01-15      124121
3                 7   Manufacturing             6.5   2024-07-04      118336
4                 1       Education             8.5   2024-08-14       63446